[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
python-dotenv = "*"
huey = "*"
beautifulsoup4 = "*"
lxml = "*"
curl-cffi = "*"
redis = "*"
selenium = "*"
webdriver-manager = "*"
retrying = "*"
undetected-chromedriver = "*"
pylint = "*"
pytest = "*"
dill = "*"
celery = "*"
flower = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
